*.blend1 
video/
desktop.ini
*.yaz
*.aplib
*.raw
*.wad
build.z64
build-yaz.z64
build-aplib.z64
build-yaz.wad
build.ram
build-yaz.ram
*.n64
Tool/NPCMAKER/gcc
Tool/NPCMAKER/temp
Tool/NPCMAKER/compile
Tool/io_export_objex2/__pycache__
Tool/NPCMAKER/Settings.json
Tool/NPCMAKER/cache
Tool/NPCMAKER/Ccache